nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    /*text-align: center;*/
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

header
{
    width: 100%;
}

#search-results {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.result-item {
    display: flex;
    flex-flow: column;
    padding: 2rem;
}

.result-item :nth-child(2) {
    order: -1;
}
/* To counter flexbox behavior for streching images */
.align-self {
    align-self: center;
}

/* For adjusting the book covers on the search results */
.img-fluid {
}

.img-container {

}
/* Rating system star color of Books page */
.checked {
    color: orange;
}

.star-system {
    display: flex;
    flex-flow: row;
}

.item2 > img {
    width: 100%;
    max-height: 100%;
}
