{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div id="search-results">
        {% for latestBook in latestBooks %}
            <div class="result-item">
                <a id="title-link" href="{{ url_for('book', isbn=latestBook.isbn) }}">
                    <h4>{{ latestBook.title }}</h4>
                </a>
                <a id="img-link" href="{{ url_for('book', isbn=latestBook.isbn) }}">
                    <img src="http://covers.openlibrary.org/b/isbn/{{ latestBook.isbn }}-M.jpg" alt="{{ latestBook.title }}">
                </a>
                <p>By {{ latestBook.author }}</p>
            </div>
        {% endfor %}
    </div>




    <script>
    /*
        document.addEventListener('DOMContentLoaded', () => {
            let input = document.querySelector('input');
            input.onkeyup = () => {
                if (input.value.length > 1)
                    $.get('/autocomplete?q=' + input.value, data => {
                        for (x in data) {
                            document.querySelector('#books').innerHTML = "";
                            const option = document.createElement('option');
                            option.innerHTML = data[x].title + ": " + data[x].author;
                            document.querySelector('#books').appendChild(option);
                        }
                    });
            };
        })


        $('#q').autocomplete({
            serviceUrl: '{{url_for("search")}}',
            source: data,
            dataType: 'json',
            minlenght: 2,
        });
    */
    </script>

{% endblock %}
