{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div id="search-results">
        {% for result in results %}
        <a href="{{ url_for('book', isbn=result.isbn) }}">
            <div class="media result-item">
                <h4>{{ result.title }}</h4>
                <div class="img-container">
                    <img class="mr-3 img-fluid img-responsive" src="http://covers.openlibrary.org/b/isbn/{{ result.isbn }}-M.jpg" alt="book cover">
                </div>
                <p>By {{ result.author }}</p>
                <div class="media-body text-left">


                </div>
            </div>
        </a>
        {% endfor %}
    </div>




    <script>
    /*
        document.addEventListener('DOMContentLoaded', () => {
            let input = document.querySelector('input');
            input.onkeyup = () => {
                if (input.value.length > 1)
                    $.get('/autocomplete?q=' + input.value, data => {
                        for (x in data) {
                            document.querySelector('#books').innerHTML = "";
                            const option = document.createElement('option');
                            option.innerHTML = data[x].title + ": " + data[x].author;
                            document.querySelector('#books').appendChild(option);
                        }
                    });
            };
        })


        $('#q').autocomplete({
            serviceUrl: '{{url_for("search")}}',
            source: data,
            dataType: 'json',
            minlenght: 2,
        });
    */
    </script>

{% endblock %}
